@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply text-white;
  }

  pre,
  h1,
  h2,
  h3,
  h4 {
    @apply font-header
  }

  svg {
    display: inline;
  }

  p {
    @apply font-bold font-text
  }

  span {
    @apply text-gray-400 text-xs
  }

  img {
    cursor: pointer;


  }

}

@layer utilities {
  .stroke-pink-1 {
    @apply text-transparent;
    -webkit-text-stroke: 2px #561171;
  }


  .stroke-pink-2 {
    -webkit-text-stroke: 1px #561171;
  }

  .stroke-yellow {
    @apply text-transparent;
    -webkit-text-stroke: 1px #e0f400;
  }

  .gradient {
    /* 23273F */
    background: linear-gradient(90.44deg, #410d55 0.39%, #536976 99.68%);
  }

  .gradient2 {
    /* 23273F */
    background: linear-gradient(90.44deg, #410d5550 0.39%, #410d5520 99.68%);
  }

  .gradient3 {
    /* 23273F */
    @apply bg-gradient-to-t from-backgound2
    /*  background: linear-gradient(to top, #0d1117 0.39%, #410d5520 99.68%);*/
  }

  .hexagon {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 200px));
    place-content: center;
  }

  .hexagon img {
  }

  .hexagon img:hover {}
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* :root {
  color: #fff;
  font-family: "fira code";
} */

/* div {
  scrollbar-width: none;
} */

/* .Index {
  background-image: './src/assets/perso.png';
} */



/* svg {
  display: inline;
} */



.azer::after {
  pointer-events: none;
  user-select: none;
  content: '';
  position: absolute;
  bottom: 0%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, #410d5500 40%, #410d555a);
}