/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap ');*/
@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap&family=Revalia&display=swap');

@font-face {
  font-family: alcantera;
  src: url('./assets/font/AlcanteraSerif-gx4jp.ttf');
}

@font-face {
  font-family: PlayfairDisplayediumItalic;
  src: url('./assets/font/PlayfairDisplayMediumItalic-8MaEg.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0d1119;
  --color-link: #b2c4fc;
}

@layer base {

  body {
    @apply text-white;
  }

  ul {
    @apply max-w-[700px]
  }

  pre {
    font-family: inherit;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-header max-w-[700px]
  }

  svg {
    display: inline;

  }

  p {
    @apply font-revalia max-w-[700px]
  }

  span {
    @apply text-gray-400 text-xs
  }

  img,
  button {
    cursor: pointer;
  }

  a {
    transition: color 100ms;
    text-decoration-line: underline;
    color: var(--color-link);
  }

}

@layer utilities {

  .linear-gradient {
    background: linear-gradient(45deg, var(--color-bg) 40%, #410d5551);

  }

  .stroke-blue-1 {
    -webkit-text-stroke: 1px rgba(0, 128, 255, 0.456);
  }

  .stroke-blue-2 {
    @apply text-transparent;
    -webkit-text-stroke: 2px #19548f;
  }

  .gradient {
    background: linear-gradient(90.44deg, #240530 .39%, #30434fda 70.68%);
  }

  .letsDiveIN {
    animation: backgroundcolor 4s linear 4s infinite alternate-reverse;
  }

  @keyframes backgroundcolor {
    from {
      background-color: #f6f6f6;
    }

    to {
      background-color: #091017;
    }
  }
}




/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}*/